@media screen and (max-width: 767px) {
       .page1{
            position: relative;
        }
      .page1-texts{
        position: absolute;
        top : 0;
        left: 1;
      }
      .tag1{
        font-size: 8vw;
        line-height: 10vh;
      }
      .tag2{
        line-height: 6vh;
        font-size: 12vw;
      }
      .navigation {
        height: 10vw !important;
        width: 50vw ;
        display: flex;
        position: relative;
  
      }
      
      .navigation-buttons {
          display: flex;
      }
      .navigation-buttons button {
          width: 18vw;
        padding: 1em;
        font-size: .6em;
      }
    
      .logo {
        position: relative;
        top: 3vh;
        width: 100%;
        justify-content: center;
      }
    
      .page1-texts {
        font-size: 1.8em;
        line-height: 4.5vw;
      }
  
      /* page 2 starts */
  
      .page2{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
      }
  
      .page2-video{
          height: 70vh;
      }
  
      /* page 2 ends */
  
      /* page 3 starts */
      .page3{
        position: relative;
        height: 100vh;
        flex-direction: column-reverse;

      }
      .page3-info-section{
        display: flex;
        justify-content: center;
        align-items: start;
        padding: 2em;
        position: absolute;
        top: -10% !important;
        height: 100%;
        font-size : .7em;
        width: 100%;
      }
      .page3-image{
        position: absolute;
        top: 0;
        align-self: center;
        height: 80%;
        width: 80%;

        /* display: none; */
      }
      /* page 3 ends */
  
      

      /* page4 starts */
      .page4{
        height: 100vh;
        padding: 1.5em;
      }
      .page4-heading p{
        font-size: 2em;
      }
      .owl-carousal-name{
        font-size: .9em;
      }
      .owl-carousal-work{
        font-size: .8em;
      }
      /* page 4 ends */

      /* page 8 starts */
      .page8-cards1{
        flex-direction: column;
      }
      .page8-cards2{
        flex-direction: column;
      }
      /* page 8 ends */
  
    }
    
/* Media query for screens between 768px and 1024px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
      .page1-texts {
        font-size: 2em;
        /* line-height: 5vw; */
  
      }
    }
    
/* Media query for screens larger than 1024px */
@media screen and (min-width: 1024px) {
      .navigation {
        padding: 1em 3vw;
      }
    
      .page1-texts {
        font-size: 2.5em;
        line-height: 6vw;
      }
    }