@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Quicksand:wght@300..700&display=swap');
*{
  padding : 0;
  margin : 0;
  box-sizing : border-box;
  font-family: "Manrope",sans-serif;
  scroll-behavior: smooth;
}
html,body{
  height : 100%;
  width : 100%;
}

span{
  color: #8B133B;
}

.main{
    background-color: black ;
}

/* cursor starts here */
.cursor{
  height: 15px;
  width: 15px;
  background-color : #8B133B;
  border-radius: 100%;
  position: fixed;
  z-index: 10;
}
/* cursor ends here */

/* navigation starts */
.navigation{
    display: flex;
    height : 20vh;
    width : 100%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 5;
    position: fixed;
}
.navigation-buttons button{
    background-color: transparent;
    color: white;
    border : none;
    margin: 0.2em;
    font-size: 1em;
    letter-spacing: -1px;
    cursor: pointer;    
}
.logo{
    display: flex;
    align-items: center;
    height : 20vh;
    width : 20%;
}
.logo img{
    height : 100%;
    width : 100%;
    object-fit: cover;
}
/* navigation ends */

/* page1 starts */
.page1{
    height : 90vh;
    width: 100%;
    background-color :  rgb(220, 207, 207);
    padding-top: 10vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.page1-texts{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 80vw;
    text-align: center;
    margin-top: 10vh;
    z-index: 15;
}
.tag1{
    margin-top: 12vh;
    font-size: 9vw;
    z-index: 15;
}
.tag2{
  margin-top: 20px;
  font-size: 6vw;
  z-index: 15;

}
.page1-abouts{
  width: 70%;
}
.page1-abouts p{
  line-height: 1.3em;
  font-size: .4em;
}
/* page1 ends */

/* page2 starts */
.page2{
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    justify-content: center;
    padding-top: 5em;
}
.page2-video{
    height: 90vh;
    width: 70%;
    border-radius: 10px;
    overflow: hidden;
}
.page2-video video{
    height:100%;
    width: 100%;
    object-fit: cover;
}
/* page2 ends */

/* page 3 starts */
.page3{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgb(9, 9, 9);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
}
.page3-info-section{
  position: relative;
  bottom: 30%;
  display: flex;
  padding-bottom: 20%;
  text-align: center;
  padding: 2em;
  height: 100%;
  width: 50%;
  padding: 2em;
}
.page3-info-section p{
  position: absolute;
  top: 90%;
  font-size: 1.6em;
  font-weight: 500;
}
.page3-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35em;
  width: 45vw;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10vh;
}
.page3-image img{
  height:60%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
/* page 3 ends */

/* page null starts */
.pageNull{
    height: 70vh;
    width: 100%;
}
/* page null ends */


/* page 4 starts */
.page4{
  min-height: 120vh;
  width: 100vw;
  background-color: white;
  padding: 4em;
}
.page4-heading p{
  text-align: center;
  color: #8B133B;
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 1em;
}
.owl-item > div:after {
  font-size: 24px;
  font-weight: bold;
}
.active.center {
  transform: scale(1);
  -webkit-filter: grayscale(0); 
    filter: grayscale(0);
}
.active {
  transform: scale(.8);
  transition: .6s ease;
  -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
.owl-carousal-data{
  text-align: center;
  margin-bottom: 6vh;
  font-weight: 500;
}
.owl-carousal-name{
  font-size: 1.2em;
  color: #8B133B;
}
.owl-carousal-work{
  font-style: italic;
  color: grey;
}
/* page 4 ends */


/* page 5 starts */
.page5{
  min-height: 70vh;
  width: 100%;
  background-color:white;
  color: rgba(0, 0, 0, 0.84);
  padding: 2em;
}
.page5-heading{
  font-weight: 800;
  font-size: 1.2em;
  margin-bottom: 2.6em;
}
.page5-heading span{
  color: #8B133B;
}
.page5-contents{
  overflow: hidden;
}
.page5-content-bar{
  position: relative;
  height: 7em;
  width: 100%;
  border-bottom:1px solid rgba(138, 131, 131, 0.782);
  display: flex;
  cursor: pointer;
  padding: 0.6em;
  padding-bottom: .5em;
}
.page5-bar-part1{
  position: absolute;
  font-size: 2em;
  letter-spacing: -2px;
  font-weight: 800;
  display: flex;
  height: 100%;
  width: 100%;
}
.page5-bar-part1 p{
  align-self: center;
}
.page5-bar-part2{
  display: flex;
  font-weight: 1.8em;
  position: absolute;
  opacity : 0;
  align-items: center;
  height: 100%;
  width: 100%;
}
.page5-bar-part2 p{
  font-size: 1.7em;
  color: #8b133be2;
  text-transform: capitalize;
  font-weight: 800;
}
/* page 5 ends */

/* .page 6 starts */
.page6{
  overflow-y: visible;
  min-height: 100vh;
  width: 400vw;
  background-color:rgb(255, 255, 255);
  z-index: 12;
  overflow-x: hidden;
  display: flex;
  flex-wrap: nowrap;
  font-weight: 500;
}
.pannel{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.page6-heading{
  height: 10%;
  margin-left: 1.5vw;
  font-size: 3em;
  opacity: 0;
  font-weight: 800;
}
.page6-contents{
  display: flex;
  height: 90%;
  width: 100%;
}
.page6-paragraphs{
  padding: 1em;
  height: 100%;
  width: 50%;
}
.page6-paragraphs p:nth-child(1){
  margin : 1em 0;
}
.pannel:nth-child(2){
  align-items : flex-end;
  justify-self: flex-end;
  padding-left: 6em;
}
.pannel:nth-child(2) .page6-contents{
  position: relative;
  top: 30%;
  left: 40%;
  height: fit-content;
  padding-left: 6em;
}
.page6-images{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
}
.page6-image{
  position: absolute;
  height: 70%;
  width: 60%;
  margin-left: 40%;
  border-radius: 10px;
  overflow: hidden;
}
.page6-image:nth-child(2){
  transform : rotate(5deg);
}
.page6-image:nth-child(3){
  transform : rotate(-5deg);
}
.page6-image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page6-part2 .page6-heading{
  position: relative;
  top: 30%;
}
.page6-part3 .page6-heading{
  font-size: 2em;
  /* margin-bottom: 10vh; */
}
.pannel:nth-child(3) .page6-contents{
  position: relative;
  top: 30%;
  left: 10%;
  height: fit-content;
  padding-left: 6em;
}
.pannel:nth-child(3) .page6-heading{
  position: relative;
  top: 25%;
  left: 17%;
}
.page6-final{
  height: 45vh;
  width: 40%;
}
.pannel:nth-child(4) .page6-heading,.pannel:nth-child(4) .page6-contents{
  height: fit-content;
  position: relative;
  left: 50%;
  top: 40%;
}
/* page 6 ends */
  

/* page 7 starts */
.page7{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: white;
}
.page7-heading{
  margin-top : 5%;
  margin-bottom: 3%;
  text-align: center;
}
.page7-heading h1{
  font-weight: 900;
  font-size: 2.5em;
}
.card-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  flex-wrap: wrap;
  height: 80vh;
  width: 100%;
}
.page7-card{
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding : 20px;
  height: 25em;
  width: 20em;
  border : 1px solid rgb(110, 110, 110);
  color: rgb(111, 111, 111);
  transition: all ease .6s;
  overflow: hidden;
}
.page7-card:hover{
  /* background-color: rgb(245, 244, 244); */
  background-color : linear-gradient(toright,#8B133B,white);
  border : 1px solid rgb(238, 181, 181);
  color: black;
  box-shadow: 0px 0px 10px black;
  transform : scale(1.01)
}
.page7-card:hover .apply-now{
  background-color: #8B133B;
  color: white;
}
.page7-card:hover i{
  color:#8B133B;
}
.page7-card p:nth-child(1){
  font-size: .9em;
  font-weight: 600;
}
.page7-card h1{
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 3em;
  letter-spacing: -3px;
  color: black;
}
.apply-now{
  padding: .7em;
  width: 90%;
  border-radius: 20px;
  border : 1px solid rgb(174, 174, 174);
  margin-bottom: 5%;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
  transition: all ease .4s;
}
.plan-info{
  font-size: .9em;
  font-weight: 400;
}
.card-info{
  margin: 4% 0;
  padding-top : 4%;
  border-top: 1px solid rgb(93, 93, 93);
}
.card-info  i{
  color: #8B133B;
  margin-right: 1em;
}
/* page 7 ends */

/* page 8 starts */
.page8{
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.page8-heading{
  text-align: center;
  font-size: 1.7em;
  font-weight: 900;
}
.page8-card-section{
  height: 100vh;
  width: 100%;
}
.page8-cards1{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  gap: 10%;
  margin-top: 3%;
  overflow-x: hidden;
}
.page8-cards2{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  gap: 10%;
  margin-top: 3%;
  overflow-x: hidden;
}
.page8-card{
  padding: 1em;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  height: 96%;
  width: 35vw;
  border : 3px solid rgb(48, 48, 48);
  cursor: pointer;
  box-shadow: 0px 0px 5px rgb(57, 57, 57);
  transition: all ease .3s;
}
.page8-card:hover{
  background-color : rgb(234, 234, 234);
}
.card1{
  left: 8%;
  z-index: 1;
}
.card2{
  left: 26%;
  z-index: 2;
}
.card3{
  left: 43%;
  z-index: 3;
}
.card4{
  left: 60%;
  z-index: 4;
}
.card-inner{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1em;
  font-size: 1.1em;
}
.profile{
  display: flex;
  align-items: center;
  font-size: .9em;
  gap: 10px;
}
.profile-image{
  border : 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.profile-image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* page 8 ends */

/* footer starts */
.footer{
  /* background-color: rgb(229, 229, 229); */
  position: relative;
  margin-top: 20vh;
  height: 55vh;
  width: 100%;
  color: rgb(19, 19, 19);
  padding: 2em;
  font-weight: 600;
}
.footer-inner{
  display: flex;
  height: 100%;
  width: 100%;
  border-top: 1px solid rgb(87, 87, 87);
  padding-top: 1em;
  justify-content: space-between;
}
.footer-part1{
  display: flex;
  gap: 3em;
  width: 60%;
}
.footer-quick-links{
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.footer-quick-links a,.footer-site-info a ,.footer-follow-us a,.footer-contact-us p{
  color: #8B133B;
  text-decoration: none;
  

}
.footer-site-info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-contact-us{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1em;
}
.footer-follow-us{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-follow-us i{
  position: relative;
  left: -20px;
  font-size: 2em;
  margin-left: 10px;
  font-weight: 300;
}
.copyright-sec{
  position: absolute;
  display: grid;
  background-color: #8B133B;
  place-items: center;
  color: white;
  width: 100vw;
  bottom: 0;
  left: 0;
  height: 5vh;
}
/* footer ends */
