@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Quicksand:wght@300..700&display=swap');
*{
  padding : 0;
  margin : 0;
  box-sizing : border-box;
  font-family: "Manrope",sans-serif;
}
html,body{
  height : 100%;
  width : 100%;
}


.main{
    background-color: black ;
}

/* navigation starts */
.navigation{
    display: flex;
    height : 20vh;
    width : 100%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    z-index: 5;
    position: fixed;
}
.navigation-buttons button{
    background-color: transparent;
    color: white;
    border : none;
    margin: 0.2em;
    font-size: 1em;
    letter-spacing: -1px;
    cursor: pointer;    
}
.logo{
    display: flex;
    align-items: center;
    height : 20vh;
    width : 20%;
}
.logo img{
    height : 100%;
    width : 100%;
    object-fit: cover;
}
/* navigation ends */


/* page1 starts */
.page1{
    min-height : 90vh;
    width: 100%;
    background-color :  rgb(220, 207, 207);
    padding-top: 10vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.page1-texts{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 80vw;
    text-align: center;
    margin-top: 10vh;
}
.tag1{
    margin-top: 12vh;
    font-size: 9vw;
}
.tag2{
  margin-top: 20px;
    font-size: 6vw;
}
.page1-abouts{
  width: 70%;
}
.page1-abouts p{
  line-height: 1.3em;
  font-size: .4em;
}
/* page1 ends */


/* page2 starts */
.page2{
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-color: black;
    justify-content: center;
    padding-top: 5em;
}
.page2-video{
    height: 90vh;
    width: 70%;
    border-radius: 10px;
    overflow: hidden;
}
.page2-video video{
    height:100%;
    width: 100%;
    object-fit: cover;
}
/* page2 ends */



/* page 3 starts */
.page3{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgb(9, 9, 9);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    overflow: hidden;
}

.page3-info-section{
  position: relative;
  bottom: 30%;
  display: flex;
  padding-bottom: 20%;
  text-align: center;
  padding: 2em;
  height: 100%;
  width: 50%;
  padding: 2em;
}


.page3-info-section p{
  position: absolute;
  top: 90%;
  font-size: 1.6em;
  font-weight: 500;
}

.page3-image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35em;
  width: 45vw;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10vh;
}

.page3-image img{
  height:60%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}





/* page 3 ends */

.pageNull{
    height: 70vh;
    width: 100%;
}



/* page 4 starts */
.page4{
  min-height: 120vh;
  width: 100vw;
  background-color: white;
  padding: 4em;
}
.page4-heading p{
  text-align: center;
  color: #8B133B;
  font-size: 4em;
  font-weight: 900;
  margin-bottom: 1em;
}
.owl-item > div:after {
  font-size: 24px;
  font-weight: bold;
}
.active.center {
  transform: scale(1);
  -webkit-filter: grayscale(0); 
    filter: grayscale(0);
}
.active {
  transform: scale(.8);
  transition: .6s ease;
  -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
.owl-carousal-data{
  text-align: center;
  margin-bottom: 6vh;
  font-weight: 500;
}
.owl-carousal-name{
  font-size: 1.2em;
  color: #8B133B;
}
.owl-carousal-work{
  font-style: italic;
  color: grey;
}
/* page 4 ends */


/* page 5 starts */
.page5{
  min-height: 100vh;
  width: 100%;
  background-color:white;
  color: rgba(0, 0, 0, 0.84);
  padding: 2em;
}

.page5-heading{
  font-weight: 800;
  font-size: 1.2em;
  margin-bottom: 2.6em;
}

.page5-heading span{
  color: #8B133B;
}

.page5-contents{
  overflow: hidden;
}
.page5-content-bar{
  position: relative;
  height: 7em;
  width: 100%;
  border-bottom:1px solid rgba(138, 131, 131, 0.782);
  display: flex;
  cursor: pointer;
  padding: 0.6em;
  padding-bottom: .5em;
}
.page5-bar-part1{
  position: absolute;
  font-size: 2em;
  letter-spacing: -2px;
  font-weight: 800;
  display: flex;
  height: 100%;
  width: 100%;
}
.page5-bar-part1 p{
  align-self: center;
}
.page5-bar-part2{
  display: flex;
  font-weight: 1.8em;
  position: absolute;
  opacity : 0;
  align-items: center;
  height: 100%;
  width: 100%;
}

.page5-bar-part2 p{
  font-size: 1.7em;
  color: #8b133be2;
  text-transform: capitalize;
  font-weight: 800;
}




/* page 5 ends */

/* .page 6 starts */
.page6{
  height: 100vh;
  width: 100%;
  background-color:rgb(109, 179, 233);
  z-index: 12;
}
/* page 6 ends */
  